<?xml version="1.0"?>

<launch>
  <!-- Setup robot/work frame -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="work_frame_broadcaster" args="-0.126 0.156 0.80 0 0 3.14159265359 camera_depth_optical_frame robot_work_frame 100" /> -->
  <node pkg="tf" type="static_transform_publisher" name="work_frame_broadcaster" args="-0.1417 0.49542 0.111 0 0 0 world robot_work_frame 100" />

  <!-- Launch blackbox node -->
  <node pkg="blackbox" type="blackbox" name="blackbox" required="true" output="screen">
    <rosparam command="load" file="$(find blackbox)/yaml/blackbox.yaml" />
  </node>

</launch>
